*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex: 1;
    
    
}

.wrapper .sidebar{
    display:flex;
    flex-wrap: wrap;
    position: fixed;
    width:15%;
    height: 100%;
    background-color: rgb(114, 88, 218);
    padding: 30px 0;
    
}

.wrapper .sidebar ul li a{
    display: block;
}

.wrapper ul li {
    margin-left: 0px;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
}

.oracle-brand {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    font-size: x-large;
    text-decoration: line-through;
    color: white;
}

.navitem {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}

.h-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute; 
    left: 20%;
    top: 6%;
    /*background-image: url("./headinsand.jpg"); */
   
}


.h-title{
    width: 200px;
    margin-left: 40%;
    bottom: 30px solid black;
    color: crimson;
    
   
    
}

.space{
    height: 30px;
}
.h-desc{

}

.h-img{
    display: flex;
    width: 98%;
    height:400px;
}
