*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.wrapper {
    display: flex;
    position: relative;
    flex: 1;
    
    
}

.wrapper .sidebar{
    display:flex;
    position: fixed;
    width:25%;
    height: 100%;
    background-color: rgb(114, 88, 218);
    padding: 30px 0;
    
}

.wrapper .sidebar ul li a{
    display: block;
}

.wrapper ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
}

.oracle-brand {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    font-size: x-large;
    text-decoration: line-through;
    color: white;
}

.navitem {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}

.h-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute; 
    left: 28%;
    top: 6%;
   
}


.h-title{
    
   
    
}

.space{
    height: 20px;
}
.h-desc{
    
}

