<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Exposure</title>
        <meta name="Float among the living" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <nav class="sidebar">
                    <ul>
                    <li><a class="oracle-brand" href="#">ORACLE</a></li>
                    <li><a class="navitem" href="about.ejs">ABOUT</a></li>
                    <li><a class="navitem">OUR GIFTS</a></li>
                    <li><a class="navitem">OUR SACRIFICE</a></li>
                    <li><a class="navitem">OUR CYCLE</a></li>
                    <li><a class="navitem" href="./exposure.ejs">OUR EXPOSURE</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        
    </body>
</html>