*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
/* body {
    animation: 10000ms ease-in-out infinite color-change;
  }
  
  @keyframes color-change {
    0% {
      background-color: white;
    }
    20% {
      background-color:green;
    }
    40% {
      background-color: purple;
    }
    60% {
      background-color: gray;
    }
    80% {
      background-color: yellow;
    }
    100% {
      background-color: red;
    }
  } */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex: 1;
    
    
}

.wrapper .sidebar{
    display:flex;
    flex-wrap: wrap;
    position: fixed;
    width:15%;
    height: 100%;
    background-color: rgb(114, 88, 218);
    padding: 30px 0;
    
}

.wrapper .sidebar ul li a{
    display: block;
}

.wrapper ul li {
    margin-left: 0px;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
}

.oracle-brand {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    font-size: x-large;
    text-decoration: line-through;
    color: white;
}

.navitem {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}

.h-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute; 
    left: 20%;
    top: 6%;
    /*background-image: url("./headinsand.jpg"); */
   
}


.h-title{
    width: 200px;
    margin-left: 40%;
    bottom: 30px solid black;
    color: crimson;
    
   
    
}

.space{
    height: 30px;
}
.h-desc{

}

.h-img{
    display: flex;
    width: 98%;
    height:400px;
}

.contact{
  
  
}

.contact-container{
  display: flex;
  border-radius: 5px;
  background-color: aqua;
  padding: 20px;
  width:30%;
  margin-left: 60%;
}

.headquarters {
  display: flex;
  border-color: blue;
  height: auto;
  max-width: 60%;
}

.wine {
  display: flex;
  height: auto;
  max-width: 20%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: flex;
  flex-direction: column;
}

.img-container{
  
}
.card img{

}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.card button:hover {
  opacity: 0.7;
}